.converterContainer {
  position: relative;
  width: 50vw;
}

input {
  margin: 0rem;
  padding: 0.5rem 1rem;
  color: palevioletred;
  position: relative;
  width: 100%;
  border: none;
}
input:focus {
  outline: none;
}
span {
  background: palevioletred;
  color: pink;
  position: absolute;
  top: 0;
  right: 0;
  right: -35px;
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
}

input::placeholder {
  color: palevioletred;
}
