.App {
  margin: 0 !important;
  padding: 0 !important;
  font-family: cursive, Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  background-color: pink;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}
